In [8]:
from flask import Flask, render_template, redirect, jsonify

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
import json
from datetime import datetime
from pathlib import Path
import pandas as pd

import time

  
# Database Setup
connection_string = "postgres:Golfer7!@localhost:5432/afl_statistics_DB"
engine = create_engine(f'postgresql://{connection_string}')

# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

# Save reference to the table
afl_table = Base.classes.afl_team_performance

In [9]:
# Sklearn Packages
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier

# Sklearn Evaluation Metrics
from sklearn import metrics
from sklearn.metrics import mean_squared_error, precision_score, confusion_matrix, accuracy_score

In [10]:
df = pd.read_sql_query('select * from "afl_team_performance_last_5_games_diff_percent"',con=engine)

In [11]:
# Visualizes all the columns
pd.set_option('display.max_columns', None)

In [12]:
df.head()

,team,team2,gameid,date,year,round,venue,starttime,home_away,team_score,rainfall,team_points,opposing_team_score,win_loss_margin,win_loss_margin_percent,win_loss,disposals,kicks,marks,handballs,goals,behinds,hitouts,tackles,rebounds,inside50s,clearances,clangers,frees,frees_against,contested_possessions,uncontested_possessions,contested_marks,marks_inside50,one_percenters,bounces,goal_assists
0,Fremantle,Geelong,2012EF01,2012-09-08,2012,EF,M.C.G.,19:45:00,0,-6.500645,0.36,-14.280614,-7.015041,-0.000439,99.924300,1,0.291371,4.556246,3.614276,-6.310085,-7.689843,14.625229,17.466144,-10.088272,-1.766472,-2.741980,0.276970,-1.952066,-4.305190,-10.045444,0.567356,-1.322849,-9.349155,-8.820287,1.093972,-10.704728,-7.212777
1,Geelong,Fremantle,2012EF01,2012-09-08,2012,EF,M.C.G.,19:45:00,1,6.500645,1.32,14.280614,7.015041,0.000439,100.075815,0,-0.291371,-4.556246,-3.614276,6.310085,7.689843,-14.625229,-17.466144,10.088272,1.766472,2.741980,-0.276970,1.952066,4.305190,10.045444,-0.567356,1.322849,9.349155,8.820287,-1.093972,10.704728,7.212777
2,West Coast,North Melbourne,2012EF02,2012-09-09,2012,EF,Subiaco,13:15:00,1,-5.717059,2.12,-14.280614,-4.358695,-0.001292,100.418410,1,-5.015004,-4.844844,-12.595148,-5.236428,-7.243752,7.889546,24.321585,-6.302700,-4.045658,-0.404817,7.691251,-3.921184,9.706382,-2.777135,2.199333,-9.850267,11.994003,11.105969,-4.608757,-10.379678,-6.020470
3,North Melbourne,West Coast,2012EF02,2012-09-09,2012,EF,Subiaco,13:15:00,0,5.717059,1.36,14.280614,4.358695,0.001292,99.585062,0,5.015004,4.844844,12.595148,5.236428,7.243752,-7.889546,-24.321585,6.302700,4.045658,0.404817,-7.691251,3.921184,-9.706382,2.777135,-2.199333,9.850267,-11.994003,-11.105969,4.608757,10.379678,6.020470
4,Hawthorn,Sydney,2012GF01,2012-09-29,2012,GF,M.C.G.,14:30:00,1,4.788508,4.28,24.992190,0.963797,0.001829,99.853157,0,-1.061557,0.525549,1.152295,-3.044685,3.844921,25.702047,-5.763689,-7.185091,-16.424146,10.306482,4.491195,0.626239,-6.449879,9.601807,-0.590920,-0.714908,-29.985007,-1.753617,1.320023,-7.996002,3.569835

In [13]:
index = df.index
number_of_rows = len(index)
print(number_of_rows)

3994

In [14]:
# Drop the null rows
df = df.dropna()
df.head()

,team,team2,gameid,date,year,round,venue,starttime,home_away,team_score,rainfall,team_points,opposing_team_score,win_loss_margin,win_loss_margin_percent,win_loss,disposals,kicks,marks,handballs,goals,behinds,hitouts,tackles,rebounds,inside50s,clearances,clangers,frees,frees_against,contested_possessions,uncontested_possessions,contested_marks,marks_inside50,one_percenters,bounces,goal_assists
0,Fremantle,Geelong,2012EF01,2012-09-08,2012,EF,M.C.G.,19:45:00,0,-6.500645,0.36,-14.280614,-7.015041,-0.000439,99.924300,1,0.291371,4.556246,3.614276,-6.310085,-7.689843,14.625229,17.466144,-10.088272,-1.766472,-2.741980,0.276970,-1.952066,-4.305190,-10.045444,0.567356,-1.322849,-9.349155,-8.820287,1.093972,-10.704728,-7.212777
1,Geelong,Fremantle,2012EF01,2012-09-08,2012,EF,M.C.G.,19:45:00,1,6.500645,1.32,14.280614,7.015041,0.000439,100.075815,0,-0.291371,-4.556246,-3.614276,6.310085,7.689843,-14.625229,-17.466144,10.088272,1.766472,2.741980,-0.276970,1.952066,4.305190,10.045444,-0.567356,1.322849,9.349155,8.820287,-1.093972,10.704728,7.212777
2,West Coast,North Melbourne,2012EF02,2012-09-09,2012,EF,Subiaco,13:15:00,1,-5.717059,2.12,-14.280614,-4.358695,-0.001292,100.418410,1,-5.015004,-4.844844,-12.595148,-5.236428,-7.243752,7.889546,24.321585,-6.302700,-4.045658,-0.404817,7.691251,-3.921184,9.706382,-2.777135,2.199333,-9.850267,11.994003,11.105969,-4.608757,-10.379678,-6.020470
3,North Melbourne,West Coast,2012EF02,2012-09-09,2012,EF,Subiaco,13:15:00,0,5.717059,1.36,14.280614,4.358695,0.001292,99.585062,0,5.015004,4.844844,12.595148,5.236428,7.243752,-7.889546,-24.321585,6.302700,4.045658,0.404817,-7.691251,3.921184,-9.706382,2.777135,-2.199333,9.850267,-11.994003,-11.105969,4.608757,10.379678,6.020470
4,Hawthorn,Sydney,2012GF01,2012-09-29,2012,GF,M.C.G.,14:30:00,1,4.788508,4.28,24.992190,0.963797,0.001829,99.853157,0,-1.061557,0.525549,1.152295,-3.044685,3.844921,25.702047,-5.763689,-7.185091,-16.424146,10.306482,4.491195,0.626239,-6.449879,9.601807,-0.590920,-0.714908,-29.985007,-1.753617,1.320023,-7.996002,3.569835

In [15]:
# Set features. This will also be used as your x values.
features = df.drop(columns=['date','venue','round','starttime', 'team_score', 'opposing_team_score', 'win_loss_margin', 'win_loss_margin_percent','goals','behinds'])
target = df.win_loss.values.reshape(-1,1)

In [16]:
print(features.shape, target.shape)

(3994, 27) (3994, 1)

In [17]:
# check the correlations of the columns to win_loss
features.corr().win_loss

year                      -0.010392
home_away                  0.119187
rainfall                   0.002235
team_points                0.296272
win_loss                   1.000000
disposals                  0.167654
kicks                      0.194757
marks                      0.044466
handballs                  0.067540
hitouts                    0.042413
tackles                    0.076028
rebounds                  -0.164692
inside50s                  0.306674
clearances                 0.132736
clangers                  -0.034808
frees                     -0.009848
frees_against              0.008564
contested_possessions      0.220625
uncontested_possessions    0.082129
contested_marks            0.137089
marks_inside50             0.227590
one_percenters             0.099416
bounces                   -0.021507
goal_assists               0.243224
Name: win_loss, dtype: float64

In [18]:
features = features.drop(columns=['rainfall','rebounds', 'clangers','frees_against', 'hitouts', 'frees','one_percenters', 'marks', 'handballs', 'tackles', 'uncontested_possessions','bounces'])

In [19]:
# check the correlations of the columns to win_loss
features.corr().win_loss

year                    -0.010392
home_away                0.119187
team_points              0.296272
win_loss                 1.000000
disposals                0.167654
kicks                    0.194757
inside50s                0.306674
clearances               0.132736
contested_possessions    0.220625
contested_marks          0.137089
marks_inside50           0.227590
goal_assists             0.243224
Name: win_loss, dtype: float64

In [20]:
#X_train, X_test, y_train, y_test = train_test_split(features, target, random_state=1, test_size=.40)

In [21]:
X_train = features[features['year'] < 2018]
X_test = features[(features['year'] > 2017)]
#X_test = features[(features['year'] > 2017) & (features['year'] < 2022)]
# Copy data for the second model - H20
X2_train = X_train
X2_test = X_test

#y_train = X_train.win_loss.values.reshape(-1,1)
#y_test = X_test.win_loss.values.reshape(-1,1)
y_train = X_train.win_loss.values
y_test = X_test.win_loss.values
                  
X_train = X_train.drop(columns=['win_loss','team','team2','gameid'])     
X_test = X_test.drop(columns=['win_loss','team','team2','gameid'])

In [22]:
# Checking if train test split ran correclty
for dataset in [y_train, y_test]:
    print(round(len(dataset)/len(target), 2))

0.6
0.4

In [23]:
y_test.shape

(1584,)

In [24]:
X_train.head()

,year,home_away,team_points,disposals,kicks,inside50s,clearances,contested_possessions,contested_marks,marks_inside50,goal_assists
0,2012,0,-14.280614,0.291371,4.556246,-2.741980,0.276970,0.567356,-9.349155,-8.820287,-7.212777
1,2012,1,14.280614,-0.291371,-4.556246,2.741980,-0.276970,-0.567356,9.349155,8.820287,7.212777
2,2012,1,-14.280614,-5.015004,-4.844844,-0.404817,7.691251,2.199333,11.994003,11.105969,-6.020470
3,2012,0,14.280614,5.015004,4.844844,0.404817,-7.691251,-2.199333,-11.994003,-11.105969,6.020470
4,2012,1,24.992190,-1.061557,0.525549,10.306482,4.491195,-0.590920,-29.985007,-1.753617,3.569835

In [25]:
X_test.head()

,year,home_away,team_points,disposals,kicks,inside50s,clearances,contested_possessions,contested_marks,marks_inside50,goal_assists
2410,2018,0,-14.280614,1.191077,-0.466407,-1.946730,3.866869,0.652720,-18.454441,-7.426450,1.638673
2411,2018,1,14.280614,-1.191077,0.466407,1.946730,-3.866869,-0.652720,18.454441,7.426450,-1.638673
2412,2018,1,19.990005,0.963159,-0.796981,-4.191198,-1.369675,2.646147,10.165184,-5.879471,-9.750152
2413,2018,0,-19.990005,-0.963159,0.796981,4.191198,1.369675,-2.646147,-10.165184,5.879471,9.750152
2414,2018,0,0.000000,4.364065,-1.475157,1.811430,0.817327,2.053849,-10.933229,6.419074,-4.542873

In [26]:
# Evaluation function

def evaluation(y_true, y_pred):
    
# Print Accuracy, Recall, F1 Score, and Precision metrics.
    print('Evaluation Metrics:')
    print('Accuracy: ' + str(metrics.accuracy_score(y_test, y_pred)))
    print('Recall: ' + str(metrics.recall_score(y_test, y_pred)))
    print('F1 Score: ' + str(metrics.f1_score(y_test, y_pred)))
    print('Precision: ' + str(metrics.precision_score(y_test, y_pred)))
    
# Print Confusion Matrix
    print('\nConfusion Matrix:')
    print(' TN,  FP, FN, TP')
    print(confusion_matrix(y_true, y_pred).ravel())
    
# Function Prints best parameters for GridSearchCV
def print_results(results):
    print('Best Parameters: {}\n'.format(results.best_params_))

In [27]:
# RandomForest Model
forest = RandomForestClassifier(n_estimators=100, criterion='gini')
#forest = RandomForestClassifier(n_estimators=100, criterion='gini')
# Fitting Model to the train set
forest.fit(X_train, y_train)
# Predicting on the test set
y_pred = forest.predict(X_test)

# Evaluating model
evaluation(y_test, y_pred)

Evaluation Metrics:
Accuracy: 0.5953282828282829
Recall: 0.5817245817245817
F1 Score: 0.5851132686084143
Precision: 0.5885416666666666

Confusion Matrix:
 TN,  FP, FN, TP
[491 316 325 452]

In [28]:
# Logistic Regression Model
lr = LogisticRegression(C=100, max_iter=400, class_weight='balanced')

# Fitting Model to the train set
lr.fit(X_train, y_train)

# Predicting on the test set
y_pred = lr.predict(X_test)

# Evaluating model
evaluation(y_test, y_pred)

Evaluation Metrics:
Accuracy: 0.6231060606060606
Recall: 0.6241956241956242
F1 Score: 0.6190172303765157
Precision: 0.6139240506329114

Confusion Matrix:
 TN,  FP, FN, TP
[502 305 292 485]

In [29]:
y_pred

array([0, 1, 1, ..., 1, 0, 1], dtype=int64)

In [30]:
# H2O Model
# H2O's AutoML function automatically creates many models, tunes each model 
# and returns the best model with the highest/lowest metric
import h2o
from h2o.automl import H2OAutoML

In [31]:
# Initialise h2o session
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ---------------------------------------------------------
H2O_cluster_uptime:         6 hours 49 mins
H2O_cluster_timezone:       Australia/Sydney
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.34.0.7
H2O_cluster_version_age:    1 month
H2O_cluster_name:           H2O_from_python_sampo_2abwu8
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.177 Gb
H2O_cluster_total_cores:    16
H2O_cluster_allowed_cores:  16
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.8.8 final
--------------------------  ---------------------------------------------------------

In [32]:
train_h2o = h2o.H2OFrame(X2_train)
test_h2o = h2o.H2OFrame(X2_test)

train_h2o['win_loss'] = train_h2o['win_loss'].asfactor()
test_h2o['win_loss'] = test_h2o['win_loss'].asfactor()

Parse progress: || (done) 100%
Parse progress: || (done) 100%

In [33]:
train_h2o.head()

team,team2,gameid,year,home_away,team_points,win_loss,disposals,kicks,inside50s,clearances,contested_possessions,contested_marks,marks_inside50,goal_assists
Fremantle,Geelong,2012EF01,2012,0,-14.2806,1,0.291371,4.55625,-2.74198,0.27697,0.567356,-9.34915,-8.82029,-7.21278
Geelong,Fremantle,2012EF01,2012,1,14.2806,0,-0.291371,-4.55625,2.74198,-0.27697,-0.567356,9.34915,8.82029,7.21278
West Coast,North Melbourne,2012EF02,2012,1,-14.2806,1,-5.015,-4.84484,-0.404817,7.69125,2.19933,11.994,11.106,-6.02047
North Melbourne,West Coast,2012EF02,2012,0,14.2806,0,5.015,4.84484,0.404817,-7.69125,-2.19933,-11.994,-11.106,6.02047
Hawthorn,Sydney,2012GF01,2012,1,24.9922,0,-1.06156,0.525549,10.3065,4.49119,-0.59092,-29.985,-1.75362,3.56983
Sydney,Hawthorn,2012GF01,2012,0,-24.9922,1,1.06156,-0.525549,-10.3065,-4.49119,0.59092,29.985,1.75362,-3.56983
Collingwood,Sydney,2012PF01,2012,0,0,0,-3.98225,2.93832,-2.65821,-4.50869,-6.05834,6.66389,14.2797,-24.1241
Sydney,Collingwood,2012PF01,2012,1,0,1,3.98225,-2.93832,2.65821,4.50869,6.05834,-6.66389,-14.2797,24.1241
Hawthorn,Adelaide,2012PF02,2012,1,24.9922,1,4.29983,-1.20703,6.10767,12.0588,2.22524,-28.4061,-3.93546,20.3609
Adelaide,Hawthorn,2012PF02,2012,0,-24.9922,0,-4.29983,1.20703,-6.10767,-12.0588,-2.22524,28.4061,3.93546,-20.3609

In [34]:
# Create an AutoML object
aml = H2OAutoML(max_runtime_secs=60, seed=42)

# Train the model
aml.train(y='win_loss', 
          x=['disposals', 'kicks', 'inside50s','contested_possessions', 'marks_inside50', 'goal_assists', 'team_points'], 
          training_frame=train_h2o)

AutoML progress: |
21:19:11.388: AutoML: XGBoost is not available; skipping it.
21:19:11.388: Step 'best_of_family_xgboost' not defined in provider 'StackedEnsemble': skipping it.
21:19:11.388: Step 'all_xgboost' not defined in provider 'StackedEnsemble': skipping it.

| (done) 100%
Model Details
=============
H2OGeneralizedLinearEstimator :  Generalized Linear Modeling
Model Key:  GLM_1_AutoML_4_20220121_211911


GLM Model: summary

,,family,link,regularization,lambda_search,number_of_predictors_total,number_of_active_predictors,number_of_iterations,training_frame
0,,binomial,logit,Ridge ( lambda = 0.008479 ),"nlambda = 30, lambda.max = 17.326, lambda.min = 0.008479, lambda.1...",7,7,32,AutoML_4_20220121_211911_training_py_1_sid_9ed8

ModelMetricsBinomialGLM: glm
** Reported on train data. **

MSE: 0.21382292175301246
RMSE: 0.4624099066337274
LogLoss: 0.6154958654001264
Null degrees of freedom: 2409
Residual degrees of freedom: 2402
Null deviance: 3340.8631854520563
Residual deviance: 2966.690071228609
AIC: 2982.690071228609
AUC: 0.7174717502742842
AUCPR: 0.707067192026871
Gini: 0.43494350054856845

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.3207765018065137:

              0       1   Error             Rate
0      0  362.0   851.0  0.7016   (851.0/1213.0)
1      1  103.0  1094.0   0.086   (103.0/1197.0)
2  Total  465.0  1945.0  0.3959   (954.0/2410.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold        value    idx
0                        max f1   0.320777     0.696372  300.0
1                        max f2   0.201114     0.836873  356.0
2                  max f0point5   0.504860     0.663395  196.0
3                  max accuracy   0.504860     0.665145  196.0
4                 max precision   0.933453     1.000000    0.0
5                    max recall   0.082726     1.000000  396.0
6               max specificity   0.933453     1.000000    0.0
7              max absolute_mcc   0.489079     0.330529  204.0
8    max min_per_class_accuracy   0.498814     0.662490  199.0
9   max mean_per_class_accuracy   0.489079     0.665227  204.0
10                      max tns   0.933453  1213.000000    0.0
11                      max fns   0.933453  1196.000000    0.0
12                      max fps   0.064653  1213.000000  399.0
13                      max tps   0.082726  1197.000000  396.0
14                      max tnr   0.933453     1.000000    0.0
15                      max fnr   0.933453     0.999165    0.0
16                      max fpr   0.064653     1.000000  399.0
17                      max tpr   0.082726     1.000000  396.0

Gains/Lift Table: Avg response rate: 49.67 %, avg score: 49.67 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.010373,0.885112,1.771763,1.771763,0.880000,0.902707,0.880000,0.902707,0.018379,0.018379,77.176274,77.176274,0.015906
1,2,0.020332,0.854721,1.845586,1.807921,0.916667,0.867502,0.897959,0.885464,0.018379,0.036759,84.558619,80.792116,0.032637
2,3,0.030290,0.838572,1.761696,1.792724,0.875000,0.845659,0.890411,0.872377,0.017544,0.054302,76.169591,79.272382,0.047707
3,4,0.040249,0.820306,1.845586,1.805803,0.916667,0.828680,0.896907,0.861566,0.018379,0.072682,84.558619,80.580317,0.064438
4,5,0.050207,0.805854,1.593915,1.763776,0.791667,0.812502,0.876033,0.851834,0.015873,0.088555,59.391534,76.377583,0.076189
5,6,0.100000,0.755016,1.560359,1.662490,0.775000,0.778414,0.825726,0.815276,0.077694,0.166249,56.035923,66.248956,0.131624
6,7,0.150207,0.706941,1.497546,1.607356,0.743802,0.730928,0.798343,0.787082,0.075188,0.241437,49.754552,60.735633,0.181256
7,8,0.200000,0.667441,1.342245,1.541353,0.666667,0.687468,0.765560,0.762282,0.066834,0.308271,34.224450,54.135338,0.215113
8,9,0.300000,0.605864,1.236424,1.439710,0.614108,0.636404,0.715076,0.720323,0.123642,0.431913,23.642439,43.971039,0.262086
9,10,0.400000,0.548866,1.203008,1.380535,0.597510,0.576998,0.685685,0.684492,0.120301,0.552214,20.300752,38.053467,0.302420
10,11,0.500000,0.496136,1.119465,1.328321,0.556017,0.521546,0.659751,0.651902,0.111947,0.664160,11.946533,32.832080,0.326155
11,12,0.600000,0.443492,0.885547,1.254525,0.439834,0.470752,0.623098,0.621711,0.088555,0.752715,-11.445280,25.452520,0.303416
12,13,0.700000,0.386779,0.802005,1.189879,0.398340,0.415485,0.590990,0.592250,0.080201,0.832916,-19.799499,18.987946,0.264078
13,14,0.800000,0.325734,0.751880,1.135129,0.373444,0.356484,0.563797,0.562779,0.075188,0.908104,-24.812030,13.512949,0.214781
14,15,0.900000,0.239312,0.584795,1.073981,0.290456,0.284399,0.533426,0.531848,0.058480,0.966583,-41.520468,7.398125,0.132288
15,16,1.000000,0.064653,0.334169,1.000000,0.165975,0.180173,0.496680,0.496681,0.033417,1.000000,-66.583124,0.000000,0.000000

ModelMetricsBinomialGLM: glm
** Reported on cross-validation data. **

MSE: 0.2147179734674679
RMSE: 0.4633767079466424
LogLoss: 0.6175700064711593
Null degrees of freedom: 2409
Residual degrees of freedom: 2402
Null deviance: 3341.3356193022637
Residual deviance: 2976.6874311909883
AIC: 2992.6874311909883
AUC: 0.7148859370189695
AUCPR: 0.7045624707087034
Gini: 0.42977187403793904

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.3180706226683218:

              0       1   Error             Rate
0      0  353.0   860.0   0.709   (860.0/1213.0)
1      1   99.0  1098.0  0.0827    (99.0/1197.0)
2  Total  452.0  1958.0  0.3979   (959.0/2410.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold        value    idx
0                        max f1   0.318071     0.696038  308.0
1                        max f2   0.197191     0.836989  362.0
2                  max f0point5   0.505285     0.662856  199.0
3                  max accuracy   0.505285     0.664315  199.0
4                 max precision   0.932176     1.000000    0.0
5                    max recall   0.078420     1.000000  398.0
6               max specificity   0.932176     1.000000    0.0
7              max absolute_mcc   0.505285     0.328595  199.0
8    max min_per_class_accuracy   0.496773     0.661995  204.0
9   max mean_per_class_accuracy   0.498114     0.664292  203.0
10                      max tns   0.932176  1213.000000    0.0
11                      max fns   0.932176  1195.000000    0.0
12                      max fps   0.071627  1213.000000  399.0
13                      max tps   0.078420  1197.000000  398.0
14                      max tnr   0.932176     1.000000    0.0
15                      max fnr   0.932176     0.998329    0.0
16                      max fpr   0.071627     1.000000  399.0
17                      max tpr   0.078420     1.000000  398.0

Gains/Lift Table: Avg response rate: 49.67 %, avg score: 49.69 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.010373,0.883513,1.771763,1.771763,0.880000,0.903075,0.880000,0.903075,0.018379,0.018379,77.176274,77.176274,0.015906
1,2,0.020332,0.854063,1.845586,1.807921,0.916667,0.866036,0.897959,0.884933,0.018379,0.036759,84.558619,80.792116,0.032637
2,3,0.030290,0.835107,1.761696,1.792724,0.875000,0.845391,0.890411,0.871933,0.017544,0.054302,76.169591,79.272382,0.047707
3,4,0.040249,0.818562,1.845586,1.805803,0.916667,0.826043,0.896907,0.860579,0.018379,0.072682,84.558619,80.580317,0.064438
4,5,0.050207,0.806475,1.593915,1.763776,0.791667,0.812529,0.876033,0.851049,0.015873,0.088555,59.391534,76.377583,0.076189
5,6,0.100000,0.755916,1.526803,1.645781,0.758333,0.779207,0.817427,0.815277,0.076023,0.164578,52.680312,64.578112,0.128304
6,7,0.150207,0.706889,1.464267,1.585109,0.727273,0.730995,0.787293,0.787105,0.073517,0.238095,46.426673,58.510918,0.174616
7,8,0.200000,0.667793,1.392579,1.537176,0.691667,0.687897,0.763485,0.762406,0.069340,0.307435,39.257867,53.717627,0.213453
8,9,0.300000,0.602935,1.253133,1.442495,0.622407,0.637336,0.716459,0.720716,0.125313,0.432749,25.313283,44.249513,0.263746
9,10,0.400000,0.545607,1.169591,1.374269,0.580913,0.575584,0.682573,0.684433,0.116959,0.549708,16.959064,37.426901,0.297440
10,11,0.500000,0.495892,1.144528,1.328321,0.568465,0.521049,0.659751,0.651757,0.114453,0.664160,14.452799,32.832080,0.326155
11,12,0.600000,0.443694,0.877193,1.253133,0.435685,0.470979,0.622407,0.621627,0.087719,0.751880,-12.280702,25.313283,0.301756
12,13,0.700000,0.387645,0.818713,1.191073,0.406639,0.416076,0.591583,0.592263,0.081871,0.833751,-18.128655,19.107292,0.265738
13,14,0.800000,0.325929,0.735171,1.134085,0.365145,0.356616,0.563278,0.562807,0.073517,0.907268,-26.482874,13.408521,0.213121
14,15,0.900000,0.239681,0.609858,1.075838,0.302905,0.284594,0.534348,0.531894,0.060986,0.968254,-39.014202,7.583774,0.135608
15,16,1.000000,0.070800,0.317460,1.000000,0.157676,0.181852,0.496680,0.496890,0.031746,1.000000,-68.253968,0.000000,0.000000

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,accuracy,0.629461,0.043780,0.663900,0.558091,0.665975,0.624481,0.634855
1,auc,0.715172,0.020233,0.729830,0.687075,0.703690,0.717867,0.737401
2,err,0.370539,0.043780,0.336100,0.441909,0.334025,0.375519,0.365145
3,err_count,178.600000,21.102133,162.000000,213.000000,161.000000,181.000000,176.000000
4,f0point5,0.629056,0.032975,0.650545,0.574378,0.658888,0.629649,0.631821
5,f1,0.703106,0.019969,0.702206,0.670788,0.704587,0.723664,0.714286
6,f2,0.799632,0.039666,0.762780,0.806092,0.757098,0.850682,0.821509
7,lift_top_group,1.772383,0.224361,1.633898,2.068670,1.600000,1.959350,1.600000
8,logloss,0.616755,0.014192,0.609620,0.636169,0.626167,0.611107,0.600713
9,max_per_class_error,0.620694,0.147164,0.475610,0.791165,0.464730,0.728814,0.643154
10,mcc,0.308818,0.060980,0.347333,0.201217,0.343909,0.327138,0.324493
11,mean_per_class_accuracy,0.631014,0.040070,0.666856,0.570083,0.665975,0.617301,0.634855
12,mean_per_class_error,0.368986,0.040070,0.333144,0.429917,0.334025,0.382699,0.365145
13,mse,0.214442,0.006207,0.210500,0.222986,0.218422,0.212694,0.207609
14,null_deviance,668.267150,0.163113,668.136300,668.193900,668.227050,668.551300,668.227050
15,pr_auc,0.705264,0.017884,0.696964,0.694797,0.686117,0.721433,0.727009
16,precision,0.588398,0.042076,0.620130,0.524155,0.631579,0.579462,0.586667
17,r2,0.141889,0.025087,0.157638,0.107073,0.126312,0.148858,0.169565
18,recall,0.882722,0.075122,0.809322,0.931330,0.796681,0.963415,0.912863
19,residual_deviance,594.551940,13.681030,587.673600,613.267100,603.624630,589.107240,579.087300

See the whole table with table.as_data_frame()

Scoring History:

,,timestamp,duration,iteration,lambda,predictors,deviance_train,deviance_xval,deviance_se,alpha,iterations,training_rmse,training_logloss,training_r2,training_auc,training_pr_auc,training_lift,training_classification_error
0,,2022-01-21 21:19:11,0.000 sec,2,.17e2,8.0,1.372166,1.375028,0.000335,0.0,NaN,,,,,,,
1,,2022-01-21 21:19:11,0.001 sec,4,.11e2,8.0,1.364629,1.368763,0.00053,0.0,NaN,,,,,,,
2,,2022-01-21 21:19:11,0.002 sec,6,.67e1,8.0,1.353886,1.359639,0.000839,0.0,NaN,,,,,,,
3,,2022-01-21 21:19:11,0.003 sec,8,.41e1,8.0,1.339507,1.347028,0.001304,0.0,NaN,,,,,,,
4,,2022-01-21 21:19:11,0.003 sec,10,.26e1,8.0,1.321828,1.330869,0.001969,0.0,NaN,,,,,,,
5,,2022-01-21 21:19:11,0.004 sec,12,.16e1,8.0,1.302311,1.312062,0.002862,0.0,NaN,,,,,,,
6,,2022-01-21 21:19:11,0.005 sec,14,.99e0,8.0,1.283277,1.292643,0.003978,0.0,NaN,,,,,,,
7,,2022-01-21 21:19:11,0.006 sec,16,.62e0,8.0,1.266864,1.275017,0.005257,0.0,NaN,,,,,,,
8,,2022-01-21 21:19:11,0.006 sec,18,.38e0,8.0,1.254247,1.260845,0.006608,0.0,NaN,,,,,,,
9,,2022-01-21 21:19:11,0.007 sec,20,.24e0,8.0,1.245395,1.250648,0.007922,0.0,NaN,,,,,,,
10,,2022-01-21 21:19:11,0.008 sec,22,.15e0,8.0,1.239569,1.243927,0.009116,0.0,NaN,,,,,,,
11,,2022-01-21 21:19:11,0.009 sec,24,.92e-1,8.0,1.235882,1.239779,0.01015,0.0,NaN,,,,,,,
12,,2022-01-21 21:19:11,0.010 sec,26,.57e-1,8.0,1.23362,1.237359,0.011024,0.0,NaN,,,,,,,
13,,2022-01-21 21:19:11,0.080 sec,27,None,NaN,,,,,27.0,0.46241,0.615496,0.144671,0.717472,0.707067,1.771763,0.395851
14,,2022-01-21 21:19:11,0.010 sec,28,.35e-1,8.0,1.23229,1.236051,0.01175,0.0,NaN,,,,,,,
15,,2022-01-21 21:19:11,0.011 sec,30,.22e-1,8.0,1.231553,1.235423,0.012342,0.0,NaN,,,,,,,
16,,2022-01-21 21:19:11,0.012 sec,31,.14e-1,8.0,1.231174,1.235187,0.012805,0.0,NaN,,,,,,,
17,,2022-01-21 21:19:11,0.012 sec,32,.85e-2,8.0,1.230992,1.23514,0.013154,0.0,NaN,,,,,,,
18,,2022-01-21 21:19:11,0.013 sec,33,.53e-2,8.0,1.23091,1.257111,0.033397,0.0,NaN,,,,,,,
19,,2022-01-21 21:19:11,0.013 sec,34,.33e-2,8.0,1.230875,1.28326,0.042221,0.0,NaN,,,,,,,

See the whole table with table.as_data_frame()

Variable Importances:

                variable  relative_importance  scaled_importance  percentage
0              inside50s             0.342433           1.000000    0.302427
1            team_points             0.331436           0.967885    0.292715
2  contested_possessions             0.198784           0.580505    0.175561
3         marks_inside50             0.168111           0.490931    0.148471
4              disposals             0.036104           0.105434    0.031886
5                  kicks             0.032543           0.095035    0.028741
6           goal_assists             0.022871           0.066789    0.020199

In [35]:
# Predict the rounds for the test data set
rd_1_predictions = aml.predict(test_h2o).as_data_frame()

glm prediction progress: || (done) 100%

In [36]:
# Evaluating model
evaluation(y_test, rd_1_predictions['predict'])

Evaluation Metrics:
Accuracy: 0.5542929292929293
Recall: 0.9099099099099099
F1 Score: 0.6669811320754717
Precision: 0.526433358153388

Confusion Matrix:
 TN,  FP, FN, TP
[171 636  70 707]

In [37]:
# View the round 1 predictions
rd_1_predictions

      predict        p0        p1
0           1  0.563039  0.436961
1           1  0.444580  0.555420
2           1  0.500748  0.499252
3           1  0.506980  0.493020
4           1  0.434620  0.565380
...       ...       ...       ...
1579        1  0.204407  0.795593
1580        1  0.646662  0.353338
1581        1  0.360432  0.639568
1582        0  0.696706  0.303294
1583        1  0.309865  0.690135

[1584 rows x 3 columns]

In [38]:
rd_1_predictions['p1']

0       0.436961
1       0.555420
2       0.499252
3       0.493020
4       0.565380
          ...
1579    0.795593
1580    0.353338
1581    0.639568
1582    0.303294
1583    0.690135
Name: p1, Length: 1584, dtype: float64

In [39]:
X2_test

,team,team2,gameid,year,home_away,team_points,win_loss,disposals,kicks,inside50s,clearances,contested_possessions,contested_marks,marks_inside50,goal_assists
2410,Geelong,Melbourne,2018EF01,2018,0,-14.280614,0,1.191077,-0.466407,-1.946730,3.866869,0.652720,-18.454441,-7.426450,1.638673
2411,Melbourne,Geelong,2018EF01,2018,1,14.280614,1,-1.191077,0.466407,1.946730,-3.866869,-0.652720,18.454441,7.426450,-1.638673
2412,Sydney,Greater Western Sydney,2018EF02,2018,1,19.990005,0,0.963159,-0.796981,-4.191198,-1.369675,2.646147,10.165184,-5.879471,-9.750152
2413,Greater Western Sydney,Sydney,2018EF02,2018,0,-19.990005,1,-0.963159,0.796981,4.191198,1.369675,-2.646147,-10.165184,5.879471,9.750152
2414,Collingwood,West Coast,2018GF01,2018,0,0.000000,0,4.364065,-1.475157,1.811430,0.817327,2.053849,-10.933229,6.419074,-4.542873
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3989,Hawthorn,North Melbourne,2022R107,2022,1,55.524708,0,5.452548,3.339440,12.286834,10.168055,9.975265,25.477707,-3.919647,8.636644
3990,Fremantle,Adelaide,2022R108,2022,0,0.000000,0,-2.954251,-3.746867,-2.783428,1.928109,-6.140126,-22.679546,-13.268465,-7.930214
3991,Adelaide,Fremantle,2022R108,2022,1,0.000000,0,2.954251,3.746867,2.783428,-1.928109,6.140126,22.679546,13.268465,7.930214
3992,Gold Coast,West Coast,2022R109,2022,0,0.000000,0,1.192190,-0.093631,-10.358313,-9.998611,-3.750848,-26.517083,-20.397756,-24.570025
3993,West Coast,Gold Coast,2022R109,2022,1,0.000000,0,-1.192190,0.093631,10.358313,9.998611,3.750848,26.517083,20.397756,24.570025

In [40]:
# Add the round 1 predictions to the test dataframe
#X2_test['model_prob_1'] = rd_1_predictions.p1
X2_test['model_prob_1'] = rd_1_predictions['p1'].values
#X2_test['model_prob_2'] = rd_1_predictions.p0
X2_test['model_prob_2'] = rd_1_predictions['p0'].values
X2_test['model_odds_1'] = 1 / X2_test['model_prob_1'].values
X2_test['model_odds_2'] = 1 / X2_test['model_prob_2'].values

<ipython-input-40-11207e084977>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X2_test['model_prob_1'] = rd_1_predictions['p1'].values
<ipython-input-40-11207e084977>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X2_test['model_prob_2'] = rd_1_predictions['p0'].values
<ipython-input-40-11207e084977>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X2_test['model_odds_1'] = 1 / X2_test['model_prob_1'].values
<ipython-input-40-11207e084977>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X2_test['model_odds_2'] = 1 / X2_test['model_prob_2'].values

In [41]:
# add the predictions to the data set and provide the model/actual winning team names

X2_test.loc[X2_test['model_prob_1']>= X2_test['model_prob_2'], 'Model_winning_team'] = X2_test['team']
X2_test.loc[X2_test['model_prob_1']< X2_test['model_prob_2'], 'Model_winning_team'] = X2_test['team2']
X2_test.loc[X2_test['win_loss']==1, 'Actual_winning_team'] = X2_test['team']
X2_test.loc[X2_test['win_loss']==0, 'Actual_winning_team'] = X2_test['team2']
X2_test.loc[X2_test['year']==2022, 'Actual_winning_team'] = 'Not Played Yet'

C:\Users\sampo\anaconda3\lib\site-packages\pandas\core\indexing.py:1599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
C:\Users\sampo\anaconda3\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
C:\Users\sampo\anaconda3\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
C:\Users\sampo\anaconda3\lib\site-packages\pandas\core\indexing.py:1599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
C:\Users\sampo\anaconda3\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
C:\Users\sampo\anaconda3\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [42]:
X2_test

,team,team2,gameid,year,home_away,team_points,win_loss,disposals,kicks,inside50s,clearances,contested_possessions,contested_marks,marks_inside50,goal_assists,model_prob_1,model_prob_2,model_odds_1,model_odds_2,Model_winning_team,Actual_winning_team
2410,Geelong,Melbourne,2018EF01,2018,0,-14.280614,0,1.191077,-0.466407,-1.946730,3.866869,0.652720,-18.454441,-7.426450,1.638673,0.436961,0.563039,2.288533,1.776076,Melbourne,Melbourne
2411,Melbourne,Geelong,2018EF01,2018,1,14.280614,1,-1.191077,0.466407,1.946730,-3.866869,-0.652720,18.454441,7.426450,-1.638673,0.555420,0.444580,1.800439,2.249314,Melbourne,Melbourne
2412,Sydney,Greater Western Sydney,2018EF02,2018,1,19.990005,0,0.963159,-0.796981,-4.191198,-1.369675,2.646147,10.165184,-5.879471,-9.750152,0.499252,0.500748,2.002995,1.997014,Greater Western Sydney,Greater Western Sydney
2413,Greater Western Sydney,Sydney,2018EF02,2018,0,-19.990005,1,-0.963159,0.796981,4.191198,1.369675,-2.646147,-10.165184,5.879471,9.750152,0.493020,0.506980,2.028313,1.972466,Sydney,Greater Western Sydney
2414,Collingwood,West Coast,2018GF01,2018,0,0.000000,0,4.364065,-1.475157,1.811430,0.817327,2.053849,-10.933229,6.419074,-4.542873,0.565380,0.434620,1.768722,2.300860,Collingwood,West Coast
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3989,Hawthorn,North Melbourne,2022R107,2022,1,55.524708,0,5.452548,3.339440,12.286834,10.168055,9.975265,25.477707,-3.919647,8.636644,0.795593,0.204407,1.256924,4.892201,Hawthorn,North Melbourne
3990,Fremantle,Adelaide,2022R108,2022,0,0.000000,0,-2.954251,-3.746867,-2.783428,1.928109,-6.140126,-22.679546,-13.268465,-7.930214,0.353338,0.646662,2.830151,1.546403,Adelaide,Adelaide
3991,Adelaide,Fremantle,2022R108,2022,1,0.000000,0,2.954251,3.746867,2.783428,-1.928109,6.140126,22.679546,13.268465,7.930214,0.639568,0.360432,1.563556,2.774446,Adelaide,Fremantle
3992,Gold Coast,West Coast,2022R109,2022,0,0.000000,0,1.192190,-0.093631,-10.358313,-9.998611,-3.750848,-26.517083,-20.397756,-24.570025,0.303294,0.696706,3.297127,1.435326,West Coast,West Coast
3993,West Coast,Gold Coast,2022R109,2022,1,0.000000,0,-1.192190,0.093631,10.358313,9.998611,3.750848,26.517083,20.397756,24.570025,0.690135,0.309865,1.448992,3.227209,West Coast,Gold Coast

In [62]:
# View the predictions
X2_test[['gameid','team', 'team2', 'model_prob_1','model_prob_2', 'win_loss', 'Actual_winning_team', 'Model_winning_team']].head(50)

,gameid,team,team2,model_prob_1,model_prob_2,win_loss,Actual_winning_team,Model_winning_team
2410,2018EF01,Geelong,Melbourne,0.436961,0.563039,0,Melbourne,Melbourne
2411,2018EF01,Melbourne,Geelong,0.555420,0.444580,1,Melbourne,Melbourne
2412,2018EF02,Sydney,Greater Western Sydney,0.499252,0.500748,0,Greater Western Sydney,Greater Western Sydney
2413,2018EF02,Greater Western Sydney,Sydney,0.493020,0.506980,1,Greater Western Sydney,Sydney
2414,2018GF01,Collingwood,West Coast,0.565380,0.434620,0,West Coast,Collingwood
2415,2018GF01,West Coast,Collingwood,0.427041,0.572959,1,West Coast,Collingwood
2416,2018PF01,Richmond,Collingwood,0.560753,0.439247,0,Collingwood,Richmond
2417,2018PF01,Collingwood,Richmond,0.431648,0.568352,1,Collingwood,Richmond
2418,2018PF02,West Coast,Melbourne,0.431359,0.568641,1,West Coast,Melbourne
2419,2018PF02,Melbourne,West Coast,0.561044,0.438956,0,West Coast,Melbourne
2420,2018QF01,Richmond,Hawthorn,0.588394,0.411606,1,Richmond,Richmond
2421,2018QF01,Hawthorn,Richmond,0.404141,0.595859,0,Richmond,Richmond
2422,2018QF02,West Coast,Collingwood,0.423340,0.576660,1,West Coast,Collingwood
2423,2018QF02,Collingwood,West Coast,0.569097,0.430903,0,West Coast,Collingwood
2424,2018R1001,Western Bulldogs,Collingwood,0.533662,0.466338,0,Collingwood,Western Bulldogs
2425,2018R1001,Collingwood,Western Bulldogs,0.458654,0.541346,1,Collingwood,Western Bulldogs
2426,2018R1002,St Kilda,Richmond,0.253448,0.746552,0,Richmond,Richmond
2427,2018R1002,Richmond,St Kilda,0.740659,0.259341,1,Richmond,Richmond
2428,2018R1003,Sydney,Brisbane Lions,0.641868,0.358132,1,Sydney,Sydney
2429,2018R1003,Brisbane Lions,Sydney,0.351058,0.648942,0,Sydney,Sydney
2430,2018R1004,Geelong,Carlton,0.722727,0.277273,1,Geelong,Geelong
2431,2018R1004,Carlton,Geelong,0.271122,0.728878,0,Geelong,Geelong
2432,2018R1005,Essendon,Greater Western Sydney,0.513729,0.486271,1,Essendon,Essendon
2433,2018R1005,Greater Western Sydney,Essendon,0.478553,0.521447,0,Essendon,Essendon
2434,2018R1006,West Coast,Hawthorn,0.587906,0.412094,1,West Coast,West Coast
2435,2018R1006,Hawthorn,West Coast,0.404626,0.595374,0,West Coast,West Coast
2436,2018R1007,Melbourne,Adelaide,0.668591,0.331409,1,Melbourne,Melbourne
2437,2018R1007,Adelaide,Melbourne,0.324596,0.675404,0,Melbourne,Melbourne
2438,2018R1008,North Melbourne,Fremantle,0.536678,0.463322,1,North Melbourne,North Melbourne
2439,2018R1008,Fremantle,North Melbourne,0.455645,0.544355,0,North Melbourne,North Melbourne
2440,2018R101,Carlton,Richmond,0.200948,0.799052,0,Richmond,Richmond
2441,2018R101,Richmond,Carlton,0.794043,0.205957,1,Richmond,Richmond
2442,2018R102,Adelaide,Essendon,0.541967,0.458033,0,Essendon,Adelaide
2443,2018R102,Essendon,Adelaide,0.450371,0.549629,1,Essendon,Adelaide
2444,2018R103,St Kilda,Brisbane Lions,0.749633,0.250367,1,St Kilda,St Kilda
2445,2018R103,Brisbane Lions,St Kilda,0.244611,0.755389,0,St Kilda,St Kilda
2446,2018R104,Port Adelaide,Fremantle,0.814671,0.185329,1,Port Adelaide,Port Adelaide
2447,2018R104,Fremantle,Port Adelaide,0.180707,0.819293,0,Port Adelaide,Port Adelaide
2448,2018R105,North Melbourne,Gold Coast,0.851505,0.148495,0,Gold Coast,North Melbourne
2449,2018R105,Gold Coast,North Melbourne,0.144629,0.855371,1,Gold Coast,North Melbourne
2450,2018R106,Collingwood,Hawthorn,0.523520,0.476480,0,Hawthorn,Collingwood
2451,2018R106,Hawthorn,Collingwood,0.468776,0.531224,1,Hawthorn,Collingwood
2452,2018R107,Greater Western Sydney,Western Bulldogs,0.535784,0.464216,1,Greater Western Sydney,Greater Western Sydney
2453,2018R107,Western Bulldogs,Greater Western Sydney,0.456537,0.543463,0,Greater Western Sydney,Greater Western Sydney
2454,2018R108,Melbourne,Geelong,0.552413,0.447587,0,Geelong,Melbourne
2455,2018R108,Geelong,Melbourne,0.439957,0.560043,1,Geelong,Melbourne
2456,2018R109,Sydney,West Coast,0.618083,0.381917,1,Sydney,Sydney
2457,2018R109,West Coast,Sydney,0.374647,0.625353,0,Sydney,Sydney
2458,2018R1101,Sydney,Carlton,0.738168,0.261832,1,Sydney,Sydney
2459,2018R1101,Carlton,Sydney,0.255901,0.744099,0,Sydney,Sydney

In [63]:
# select columns to combine with 5 game team statistics
df1 = X2_test[['gameid','team', 'model_prob_1','model_prob_2', 'model_odds_1','model_odds_2','Actual_winning_team', 'Model_winning_team']]

In [64]:
# read in 5 game team statistics
df2 = pd.read_sql_query('select * from "afl_team_performance_last_5_games"',con=engine)

In [65]:
# merge the datasets on the basis of team and gameid
merged_df = df1.merge(df2, how='inner', left_on=["team", "gameid"], right_on=["team", "gameid"])

In [66]:
merged_df

,gameid,team,model_prob_1,model_prob_2,model_odds_1,model_odds_2,Actual_winning_team,Model_winning_team,team2,date,year,round,venue,starttime,win_loss,home_away,team_score,rainfall,team_points,opposing_team_score,win_loss_margin,win_loss_margin_percent,disposals,kicks,marks,handballs,goals,behinds,hitouts,tackles,rebounds,inside50s,clearances,clangers,frees,frees_against,contested_possessions,uncontested_possessions,contested_marks,marks_inside50,one_percenters,bounces,goal_assists
0,2018EF01,Geelong,0.436961,0.563039,2.288533,1.776076,Melbourne,Melbourne,Melbourne,2018-09-07,2018,EF,M.C.G.,19:50:00,0,0,112.4,2.32,12,59.8,52.6,163.8,390.8,213.4,90.4,177.4,16.8,10.6,34.2,68.8,36.4,55.4,37.6,52.0,22.6,19.2,154.2,244.8,10.6,16.2,54.2,1.8,12.4
1,2018EF01,Melbourne,0.555420,0.444580,1.800439,2.249314,Melbourne,Melbourne,Geelong,2018-09-07,2018,EF,M.C.G.,19:50:00,1,1,107.0,1.40,16,70.6,36.4,67.2,381.6,215.4,98.4,166.2,15.6,10.6,46.4,68.2,34.6,57.6,34.8,52.6,18.4,17.8,152.2,233.6,15.4,18.8,43.8,5.8,12.0
2,2018EF02,Sydney,0.499252,0.500748,2.002995,1.997014,Greater Western Sydney,Greater Western Sydney,Greater Western Sydney,2018-09-08,2018,EF,S.C.G.,16:20:00,0,1,76.0,1.52,12,80.2,-4.2,-5.8,356.4,211.6,96.4,144.8,11.0,9.2,28.0,71.6,42.4,48.0,36.0,53.4,21.4,20.2,147.4,209.8,13.0,9.6,45.4,3.4,7.4
3,2018EF02,Greater Western Sydney,0.493020,0.506980,2.028313,1.972466,Greater Western Sydney,Sydney,Sydney,2018-09-08,2018,EF,S.C.G.,16:20:00,1,0,86.6,0.16,8,77.8,8.8,22.8,349.6,215.0,90.4,134.6,12.6,8.2,34.8,68.4,37.8,52.2,37.0,51.6,16.2,20.2,139.8,210.6,10.6,10.8,50.4,6.6,9.0
4,2018GF01,Collingwood,0.565380,0.434620,1.768722,2.300860,West Coast,Collingwood,West Coast,2018-09-29,2018,GF,M.C.G.,14:30:00,0,0,85.4,0.72,16,66.8,18.6,30.8,389.8,220.4,84.2,169.4,12.4,8.6,49.2,72.4,33.8,56.2,37.0,57.4,19.4,16.8,159.0,233.6,11.4,11.6,60.0,2.4,8.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1579,2022R107,Hawthorn,0.795593,0.204407,1.256924,4.892201,Not Played Yet,Hawthorn,North Melbourne,2022-03-20,2022,R1,MCG,13:10:00,0,1,83.8,3.08,14,76.0,7.8,17.8,398.4,222.8,105.2,175.6,12.6,6.0,45.0,61.0,32.4,53.0,39.0,49.6,16.6,16.2,135.6,259.4,12.8,9.8,47.0,5.6,8.8
1580,2022R108,Fremantle,0.353338,0.646662,2.830151,1.546403,Not Played Yet,Adelaide,Adelaide,2022-03-20,2022,R1,Adelaide Oval,16:10:00,0,0,59.0,2.52,8,87.6,-28.6,-55.0,348.2,197.8,86.4,150.4,8.2,7.8,37.8,48.4,39.4,45.4,37.0,55.0,17.8,17.0,128.4,217.6,9.2,9.8,38.4,5.6,5.8
1581,2022R108,Adelaide,0.639568,0.360432,1.563556,2.774446,Not Played Yet,Adelaide,Fremantle,2022-03-20,2022,R1,Adelaide Oval,16:10:00,0,1,74.0,0.32,8,80.2,-6.2,-11.4,369.4,213.2,85.2,156.2,10.6,8.2,34.8,58.4,41.2,48.0,35.6,60.2,20.0,21.6,145.2,218.6,14.6,12.8,43.0,4.8,6.8
1582,2022R109,Gold Coast,0.303294,0.696706,3.297127,1.435326,Not Played Yet,West Coast,West Coast,2022-03-20,2022,R1,Optus Stadium,19:40:00,0,0,51.2,5.08,4,107.8,-56.6,-153.6,348.0,213.4,100.6,134.6,7.0,7.0,27.2,53.6,45.0,42.4,32.4,63.2,18.0,20.4,120.6,222.6,7.2,7.8,51.8,6.0,4.6
1583,2022R109,West Coast,0.690135,0.309865,1.448992,3.227209,Not Played Yet,West Coast,Gold Coast,2022-03-20,2022,R1,Optus Stadium,19:40:00,0,1,70.6,1.44,4,90.4,-19.8,-34.4,339.8,213.8,98.4,126.0,10.2,8.4,41.8,49.6,34.6,52.2,39.6,52.2,19.0,16.2,130.0,207.8,12.4,11.8,51.0,4.2,7.6

In [68]:
# save dataframe to json & csv file
merged_df.to_json('Resources/model_export.json')
merged_df.to_csv('Resources/model_export.csv', index=False)